html
	head
		title canvas-game-start
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		meta(name="viewport",content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="black")
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", type="text/css", href="/styles/main.css")
	body
		div.ctnr
			canvas#cvs
		script
			include ../public/bower_components/requirejs/require.js
		script
			include ../public/scripts/main.js